body {
    background: #d2d2c1 url(/img/fundo.png) ;
    font: 16px Arial, Helvetica, sans-serif;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

#principal {
	width: 900px;
}

#nav-bar {
    background-color: #c5c5b2;
}

#navbar {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#rodape {
    text-align: center;
}

.conteudo {
    background-color: #e8e8d9;    
    padding: 10px;
}

.centralizar {
    text-align: center;
}

.itens {
    display: inline-block;
}

.itens a {
    text-decoration: solid;
    color: #4b566a;
    font-weight: bold;
    padding: 5px;
}

.img-campanhas {
    border: 10px solid #c3c3ae ;
}